# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Large/Raw Data Files
*.xlsx
*.csv
!test download.csv
!DAM prices MAy 2026.csv
!Dynamic tarrif supplier fixed costs_260626.csv
!HDF_calckWh_SAMPLE_23-06-2025.csv
