# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Large/Raw Data Files
*.xlsx
*.csv
!DAM prices MAy 2026.csv
!Dynamic tarrif supplier fixed costs_260626.csv
!HDF_calckWh_SAMPLE_23-06-2025.csv
!energypal tarriffs 03072026.csv

# Local Backups / Old Versions
Super_Champ_V*.py
Old versions/
